body {
    font-family: sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

button {
    border-radius: 4px;
    background-color: white;
    border: 1px #eee outset;
}

.challengeNumbers button {
    margin: 0 1px;
}

header button.current {
    background-color: #8ac5ff;
    margin-bottom: 15px;
}

.code-area {
    float: left;
    margin-right: 2em;
}

.code {
    font-size: 150%;
}

.solution {
    display: flex;
}

.stack {
    display: flex;
    flex-direction: column-reverse;
    border-bottom: 3px solid black;
    height: 400px;
    width: 50px;
    margin-right: 2px;
}

.block {
    width: 50px;
    height: 50px;
    border: 2px solid rgba(0,0,0,.3);
    border-top-color: rgba(255,255,255,.5);
    border-left-color: rgba(255,255,255,.5);
    border-radius: 2px;
    box-sizing: border-box;
    margin-bottom: 1px;
    animation: drop 200ms;
}

@keyframes drop {
    0% {
        opacity: .5;
        transform: translateY(-5px);
    },
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.links {
    margin-bottom: 15px;
}
