/* CSS Position Demo Styles */
.static {
    position: static;
}
.relative {
    position: relative;
}
.absolute {
    position: absolute;
}
.fixed {
    position: fixed;
}

article div {
    margin: .5em;
    padding: .2em;
    width: 30em;
    max-width: 90%;
}
.position-fields {
    width: 50%;
    float: left;
}
p {
    margin: .5em 0;
}
p.spacing {
    margin: 2em 0;
    clear: both;
}
label {
    display: block;
    font-weight: bold;
    padding: 0 0 .1em 0;
    font-family: sans-serif;
}
span {
    padding: 0 .1em;
    background-color: rgba(255, 255, 255, .8);
    font-size: 150%;
}
span.absolute, span.fixed {
    box-shadow: 2px 2px 5px #888888;
}
.container-static {
    border: 2px solid crimson;
}
.container-static em, .container-static h2 {
    color: crimson;
}
.container-static span {
    color: crimson;
    border: 1px dashed crimson;
}

.container-relative {
    border: 2px solid cornflowerblue;
    position: relative;
}
.container-relative em, .container-relative h2 {
    color: cornflowerblue;
}
.container-relative span {
    color: cornflowerblue;
    border: 1px dashed cornflowerblue;
}

.container {
    float: left;
    padding: 0 1em 1em;
}
form {
    clear: both;
}
input[type=range] {
    width: 200px;
}
