/* http://alijafarian.com/responsive-image-grids-using-css/ */
/*
http://paletton.com/#uid=13K0u0k00m601Dv00rF01gF0saq
#373737
#595959
#767676
#939393
#C1C1C1
*/


@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Bitter');
@import url('https://fonts.googleapis.com/css?family=Arvo');

html, body {
    margin: 0;
    font-size: 14px;
}

body {
    font-family: Arvo;
    background-color: #C1C1C1;
    background: linear-gradient(#C1C1C1, #E1E1E1);
}

header {
    background-color: #373737;
    color: white;
    overflow: auto;
    box-shadow: 0 3px 3px #939393;
}

header .logo {
    float: left;
    padding: 4px 0;
    margin-left: 1em;
    font-size: 19px;
    font-size: 1.2rem;
}

header nav {
    float: right;
    font-size: 0;
    margin-right: 2rem;
    border-right: 1px solid #767676;
}

header nav a {
    display: inline-block;
    padding: 4px 12px;
    border-left: 1px solid #767676;
    background-color: #595959;
    font-size: 19px;
    font-size: 1.2rem;
    color: white;
    text-decoration: none;
}

.wrapper {
    margin: 1em 5% 1em;
}


h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto', sans-serif;
}

h1 {
    text-shadow: 2px 2px 3px #939393;
}

.cards {
    font-size: 0px;
    margin-left: -2.5%; /* should match li left margin */
}

.cards .card {
    display: inline-block;
    margin: 0 0 2.5% 2.5%;
    width: 47.5%; /* 2 columns */
    box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

a.card {
    text-decoration: none;
    color: black;
    background-color: white;
    padding: 10px;
    box-shadow: 3px 3px 3px #939393;
    vertical-align: top;
    font-size: 16px;
    font-size: 1rem;
    transition: transform 200ms, box-shadow 200ms;
}

.card:hover {
    transform: scale(1.02);
    box-shadow: 5px 5px 3px #939393;
}

.card img {
    max-width: 100%;
}

.card p {
    color: #595959;
}

@media (max-width: 480px) {
    /* Hide all but the first nav item */
    header nav a {
        display:none;
    }
    header nav a:first-child {
        display:inline-block;
    }

    /* Remove the margin on the sides of the page */
    .wrapper {
        margin-left: 0;
        margin-right: 0;
    }

    h1 {
        margin-left: 5%;
        margin-right: 5%;
    }

    /* 1 column */
    .cards {
        margin-left: 0;
    }

    .cards .card {
        display: block;
        width: 100%;
        margin-left: 0;
    }

    /* Disable card grow on hover */
    .card:hover {
        transform: scale(1);
        box-shadow: 3px 3px 3px #939393;
    }
}

@media (min-width: 1000px) {
    .cards .card {
        width: 30.83%; /* 3 columns */
    }
}

@media (min-width: 1500px) {
    html .cards .card {
        width: 22.5%; /* 4 columns */
    }
}

/* Bootstrap */
html.bootstrap h1 {
    font-size: 2em;
}

.card {
    display: block;
}

html.bootstrap .row {
    margin-bottom: 30px;
}

/* Article Content */

article.content {
    background-color: white;
    padding: 2.5%;
}
