/* http://alijafarian.com/responsive-image-grids-using-css/ */
/*
http://paletton.com/#uid=13K0u0k00m601Dv00rF01gF0saq
#373737
#595959
#767676
#939393
#C1C1C1
*/


@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Bitter');
@import url('https://fonts.googleapis.com/css?family=Arvo');

html {
    background-color: #C1C1C1;
    font-family: Arvo;
}

html, body {
    margin: 0;
}

header {
    background-color: #373737;
    color: white;
    overflow: auto;
    box-shadow: 0 3px 3px #939393;
}

header .logo {
    float: left;
    padding: 4px 0;
    margin-left: 1em;
    font-size: 19px;
    font-size: 1.2rem;
}

header nav {
    float: right;
    font-size: 0;
    margin-right: 2rem;
    border-right: 1px solid #767676;
}

header nav a {
    display: inline-block;
    padding: 4px 12px;
    border-left: 1px solid #767676;
    background-color: #595959;
    font-size: 19px;
    font-size: 1.2rem;
    color: white;
    text-decoration: none;
}

.wrapper {
    margin: 1em 5% 1em;
}


h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto', sans-serif;
}

.cards {
    font-size: 0px;
    margin-left: -2.5%; /* should match li left margin */
}

.cards a {
    text-decoration: none;
    color: black;

    display: inline-block;
    margin: 0 0 2.5% 2.5%;
    width: 47.5%; /* 2 columns */
    box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
    font-size: 16px;
    font-size: 1rem;
    vertical-align: top;

    background-color: white;
    padding: 10px;
    box-shadow: 3px 3px 3px #939393;
    transition: transform 200ms, box-shadow 200ms;
}

.cards a:hover {
    transform: scale(1.02);
    box-shadow: 5px 5px 3px #939393;
}

.cards a img {
    max-width: 100%;
}

.cards a p {
    color: #595959;
}

@media (max-width: 480px) {
    /* 1 column */
    .cards {
        margin-left: 0;
    }

    .cards a {
        display: block;
        width: 100%;
        margin-left: 0;
    }
}

@media (min-width: 1000px) {
    .cards a {
        width: 30.83%; /* 3 columns */
    }
}

@media (min-width: 1500px) {
    html .cards a {
        width: 22.5%; /* 4 columns */
    }
}
